<header>
  <strong>
        <nav class="navbar navbar-dark bg-primary">
<h1 class="text-light">Patient Details</h1>
 </nav>
 </strong>
    </header>
</p>
  <p></p>
  <p>
<body class="cuerpo11">
  <div class="d-flex justify-content-center">
<div>
<a href="/dentro"><button class="btn btn-primary">Menu</button></a>
<div>
    <strong>
    {{#with pet}}
    <p>Name: {{this.name}}</p>
    <p>Owner: {{this.owner}}</p>
     <p>Category: {{this.category}}</p>
      <p>Age: {{this.age}}</p>
       <p>Weigth: {{this.weigth}}</p>
        <p>Triage: {{this.triage}}</p>
         <p>Diagnostic: {{this.diagnostic}}</p>
          <p>Treatement: {{this.treatement}}</p>
    {{/with}}
</strong>
<a href="/pet/{{pet._id}}/edit">
 <button class="btn btn-primary">Update</button>
</a>
  <p></p>
<form action="/pet/{{pet._id}}/delete" method="POST">
 <button class="btn btn-primary">Delete</button>
</form>
</div>
<div>
</body>