
<form action="/pet/{{pet._id}}/edit" method="POST">

<label for="name">Name:</label>
<input type="text" name="name" value="{{pet.name}}">

<label for="category">Category:</label>
<input type="text" name="category" value="{{pet.category}}">

<label for="owner">Owner:</label>
<input type="text" name="owner" value="{{pet.owner}}">

<label for="age">Age:</label>
<input type="text" name="age" value="{{pet.age}}" >

<label for="weigth">Weigth:</label>
<input type="text" name="weigth" value="{{pet.weigth}}">

<label for="triage">Triage:</label>
<input type="text" name="triage" value="{{pet.triage}}" >

<label for="diagnostic">Diagnostic:</label>
<input type="text" name="diagnostic" value="{{pet.diagnostic}}" >

<label for="treatement">Treatement:</label>
<input type="text" name="treatement" value="{{pet.treatement}}">

<button>Edit</button></a>
<button>Delete</button></a>
</form>

<a href="/dentro"><button>Menu</button></a>
