


<a href="/"><button>Index</button></a>
<div>
    {{#with user}}
    <p>Name: {{this.name}}</p>
    <p>Address: {{this.address}}</p>
     <p>City: {{this.city}}</p>
      <p>Phone: {{this.phone}}</p>
       <p>Schedule: {{this.hours}}</p>
        <p>Email: {{this.email}}</p>
    {{/with}}
</div>