<header>
  <strong>
        <nav class="navbar navbar-dark bg-primary">
<h1 class="text-light">Vet. List</h1>
 </nav>
 </strong>
    </header>
</p>
  <p></p>
  <p>
<body class="cuerpo9">
  <div class="d-flex justify-content-center">
{{#each listUser}}
</strong>
  <li>
     <a href="/user/{{this._id}}">Name: {{this.name}}</a>
     <br>
     <a href="/user/{{this._id}}"> Address: {{this.address}}</a>
      <br>
      <a href="/user/{{this._id}}">City: {{this.city}}</a>
       <br>
      <a href="/user/{{this._id}}">Phone: {{this.phone}}</a>
       <br>
      <a href="/user/{{this._id}}">Days: {{this.days}}</a>
       <br>
      <a href="/user/{{this._id}}"> Schedule: {{this.hours}}</a>
       <br>
      <a href="/user/{{this._id}}">Email: {{this.email}}</a>
     
   </p>
  <p
    </li>
</strong>
{{/each}}
 
<a href="/"><button class="btn btn-primary">Index</button></a>
</div>
</body>


