<header>
  <strong>
        <nav class="navbar navbar-dark bg-primary">
<h1 class="text-light">Vet. Details</h1>
 </nav>
 </strong>
    </header>
</p>
  <p></p>
  <p>
<body class="cuerpo10">
  <div class="d-flex justify-content-center">
<div>

<a href="/"> <button class="btn btn-primary">Index</button></a>
<div>
  <p></p>

    <strong>
    {{#with user}}
  <p></p>

    <p>Name: {{this.name}}</p>
    <p>Address: {{this.address}}</p>
     <p>City: {{this.city}}</p>
      <p>Phone: {{this.phone}}</p>
       <p>Schedule: {{this.hours}}</p>
        <p>Email: {{this.email}}</p>
  <p></p>

    {{/with}}
  <p></p>

    </strong>
</div>
</div>
</body>